<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Pacientes</h5>
      <p-table #dt dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll" [scrollable]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Rut
                <p-columnFilter type="text" field="rut" display="menu" placeholder="Buscar por Rut"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Nombre
                <p-columnFilter type="text" field="name" display="menu" placeholder="Buscar por Nombre"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Apellido
                <p-columnFilter type="text" field="lastName" display="menu" placeholder="Buscar por Apellido"></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Apellido
                <p-columnFilter type="text" field="lastName" display="menu" placeholder="Buscar por Apellido"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
