<div class="card">
  <h5>Información Paciente</h5>
  <form [formGroup]="patientForm">
    <div class="flex flex-column">
      <div class="justify-content-center align-items-center font-medium">
        <div class="flex justify-content-left mt-3 mr-3">
          <button (click)="clear()" type="button" class="p-button-primary" icon="pi pi-check" label="Vaciar" pButton
                  pRipple></button>
        </div>
        <div class="grid p-fluid mt-3">
          <div class="field col-12 md:col-12 ">
            <label>Seleccionar 1 tipo de Documento</label>
            <div class="grid formgrid ml-3 mt-2">
              <div class="field-radiobutton">
                <p-radioButton name="type" value="RUT" id="RUT_TYPE" formControlName="type"
                               (onClick)="onTypeChange($event)"></p-radioButton>
                <label for="RUT">Rut</label>
              </div>
              <div class="field-radiobutton ml-3">
                <p-radioButton name="type" value="PASSPORT" id="PASSPORT" formControlName="type"
                               (onClick)="onTypeChange($event)"></p-radioButton>
                <label for="PASSPORT">Pasaporte</label>
              </div>
              <div class="field-radiobutton ml-3">
                <p-radioButton name="type" value="CLINICAL_TRIAL" id="CLINICAL_TRIAL" formControlName="type"
                               (onClick)="onTypeChange($event)"></p-radioButton>
                <label for="CLINICAL_TRIAL">Ensayo Clínico</label>
              </div>
              <div class="field-radiobutton ml-3">
                <p-radioButton name="type" value="OTHER" id="OTHER" formControlName="type"
                               (onClick)="onTypeChange($event)"></p-radioButton>
                <label for="OTHER">Otro</label>
              </div>
            </div>
          </div>
          <div *ngIf="typeIdentification === 'RUT'" class="field col-12 md:col-4">
          <span class="p-float-label">
            <input (blur)="onRutBlur()" [appFormControlStatus]="patientForm.get('rut')" appRutFormatter
                   autocomplete="off" autofocus formControlName="rut"
                   id="rut" pInputText type="text">
            <label for="rut">Rut *</label>
          </span>
            <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'required'"
                                          [message]="'El Rut es obligatorio'"></app-form-validation-messages>
            <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'invalidRut'"
                                          [message]="'El rut ingresado no es valido'"></app-form-validation-messages>
          </div>
          <div *ngIf="typeIdentification === 'PASSPORT'" class="field col-12 md:col-4">
          <span class="p-float-label">
            <input (blur)="onRutBlur()" [appFormControlStatus]="patientForm.get('rut')" autocomplete="off" autofocus
                   formControlName="rut"
                   id="passport_input" pInputText type="text">
            <label for="passport_input">Pasaporte *</label>
          </span>
            <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'required'"
                                          [message]="'El Pasaporte es obligatorio'"></app-form-validation-messages>
          </div>
          <div *ngIf="typeIdentification === 'CLINICAL_TRIAL'" class="field col-12 md:col-4">
          <span class="p-float-label">
            <input (blur)="onRutBlur()" [appFormControlStatus]="patientForm.get('rut')" autocomplete="off" autofocus
                   formControlName="rut"
                   id="clinical_tria_input" pInputText type="text">
            <label for="clinical_tria_input">N° Paciente *</label>
          </span>
            <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'required'"
                                          [message]="'El N° de paciente es obligatorio'"></app-form-validation-messages>
          </div>
          <div *ngIf="typeIdentification === 'OTHER'" class="field col-12 md:col-4">
          <span class="p-float-label">
            <input (blur)="onRutBlur()" [appFormControlStatus]="patientForm.get('rut')" autocomplete="off" autofocus
                   formControlName="rut"
                   id="other_input" pInputText type="text">
            <label for="other_input">Otro Documento *</label>
          </span>
            <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'required'"
                                          [message]="'El Docuemento de identificación es obligatorio'"></app-form-validation-messages>
          </div>

          <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input [appFormControlStatus]="patientForm.get('identification')" appRutFormatter autocomplete="off"
                   autofocus formControlName="identification" id="identification"
                   pInputText type="text">
            <label for="identification">Identificación</label>
          </span>
            <app-form-validation-messages [control]="patientForm.get('identification')"
                                          [errorType]="'required'"
                                          [message]="'La identificación del paciente es obligatoria'"></app-form-validation-messages>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown [appFormControlStatus]="patientForm.get('isapre')" [filter]="true"
                          [options]="isapreCombo"
                          appendTo="body" dataKey="code"
                          emptyFilterMessage="No se encontro isapres" emptyMessage="No existen Isapres en Sistema"
                          filterBy="name" formControlName="isapre"
                          id="isapreCombo" optionLabel="name"
                          placeholder="Seleccione Isapre"></p-dropdown>
              <label for="isapreCombo">Isapre</label>
            </span>
            <app-form-validation-messages [control]="patientForm.get('isapre')"
                                          [errorType]="'required'"
                                          [message]="'La isapre es obligatoria'"></app-form-validation-messages>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input [appFormControlStatus]="patientForm.get('name')" autocomplete="off" formControlName="name"
                     id="name" pInputText
                     type="text">
              <label for="name">Nombre *</label>
            </span>
            <app-form-validation-messages [control]="patientForm.get('name')" [errorType]="'required'"
                                          [message]="'El Nombre es obligatorio'"></app-form-validation-messages>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input [appFormControlStatus]="patientForm.get('lastName')" autocomplete="off" formControlName="lastName"
                     id="lastName" pInputText
                     type="text">
              <label for="lastName">Apellidos</label>
            </span>
            <app-form-validation-messages [control]="patientForm.get('lastName')"
                                          [errorType]="'required'"
                                          [message]="'Los Apellidos son obligatorio'"></app-form-validation-messages>
          </div>

          <div formArrayName="diagnosis" style="width: 97%">
            <div class="grid p-fluid mt-3 ml-3 mr-3 col-12 card"
                 *ngFor="let diagnosis of diagnosis.controls; let i=index" [formGroupName]="i">
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown [appFormControlStatus]="diagnosis.get('diagnosis')" [filter]="true"
                              [options]="diagnosisCombo"
                              [virtualScroll]="true"
                              [virtualScrollItemSize]="38"
                              appendTo="body" dataKey="code"
                              emptyFilterMessage="No se encontraron Diagnosticos"
                              emptyMessage="No existen Diagnosticos en Sistema" filterBy="name"
                              formControlName="diagnosis"
                              id="diagnosis" optionLabel="name"
                              placeholder="Seleccione Dignóstico"></p-dropdown>
                  <label for="diagnosis">Diagnóstico</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('diagnosis')"
                                              [errorType]="'required'"
                                              [message]="'El diagnóstico es obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-inputNumber [appFormControlStatus]="diagnosis.get('cycleNumber')" autocomplete="off"
                                 formControlName="cycleNumber"
                                 id="cycleNumber"></p-inputNumber>
                  <label for="cycleNumber">N° Ciclo</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('cycleNumber')"
                                              [errorType]="'required'"
                                              [message]="'El Número del ciclo es obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-inputNumber [appFormControlStatus]="diagnosis.get('cycleDay')" autocomplete="off"
                                 formControlName="cycleDay"
                                 id="cycleDay"></p-inputNumber>
                  <label for="cycleDay">N° Dia</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('cycleDay')"
                                              [errorType]="'required'"
                                              [message]="'El día de ciclo es obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown [appFormControlStatus]="diagnosis.get('doctor')" [filter]="true"
                              [options]="doctorCombo" dataKey="code"
                              [virtualScroll]="true"
                              [virtualScrollItemSize]="38"
                              appendTo="body"
                              emptyFilterMessage="No se encontraron Médicos"
                              emptyMessage="No existen Médicos en Sistema" filterBy="name" formControlName="doctor"
                              id="doctor" optionLabel="name"
                              placeholder="Seleccione el Médico"></p-dropdown>
                  <label for="doctor">Médico</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('doctor')"
                                              [errorType]="'required'"
                                              [message]="'El Doctor es obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-8"></div>
              <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <p-dropdown [appFormControlStatus]="diagnosis.get('schema')" [filter]="true"
                                [options]="schemaCombo"
                                [virtualScroll]="true"
                                [virtualScrollItemSize]="38"
                                appendTo="body" dataKey="code"
                                emptyFilterMessage="No se encontraron Esquemas"
                                emptyMessage="No existen Esquemas en Sistema" filterBy="name" formControlName="schema"
                                id="schema" optionLabel="name"
                                placeholder="Seleccione Esquema"></p-dropdown>
                    <label for="schema">Esquemas</label>
                  </span>
                <app-form-validation-messages [control]="diagnosis.get('schema')"
                                              [errorType]="'required'"
                                              [message]="'El esquema es obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown [appFormControlStatus]="diagnosis.get('services')" [filter]="true"
                              [options]="serviceCombo"
                              appendTo="body" dataKey="code"
                              [virtualScroll]="true"
                              [virtualScrollItemSize]="38"
                              emptyFilterMessage="No se encontraron Servicios"
                              emptyMessage="No existen Isapres en Sistema" filterBy="name" formControlName="services"
                              id="services" optionLabel="name"
                              placeholder="Seleccione El servicio"></p-dropdown>
                  <label for="services">Servicios</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('services')"
                                              [errorType]="'required'"
                                              [message]="'El servicio es Obligatorio'"></app-form-validation-messages>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown [appFormControlStatus]="diagnosis.get('hospitalUnit')" [filter]="true"
                              [options]="hospitalUnitCombo"
                              appendTo="body" dataKey="code"
                              [virtualScroll]="true"
                              [virtualScrollItemSize]="38"
                              emptyFilterMessage="No se encontro unidad hispitalaria"
                              emptyMessage="No existen unidades hospitalarias en Sistema" filterBy="name"
                              formControlName="hospitalUnit"
                              id="hospitalUnit" optionLabel="name"
                              placeholder="Seleccione Unidad Hospitalaria"></p-dropdown>
                  <label for="hospitalUnit">Unidad Hospitalaria</label>
                </span>
                <app-form-validation-messages [control]="diagnosis.get('hospitalUnit')"
                                              [errorType]="'required'"
                                              [message]="'El diagnóstico es obligatorio'"></app-form-validation-messages>
              </div>
              <div *ngIf="diagnosis?.value?.id == ''" class="filed col-12 md:col-3">
                <p-button (click)="removeDiagnosis(i)" label="Eliminar Diagnóstico" [raised]="true" severity="danger"/>
              </div>
            </div>
          </div>
          <div class="filed col-12 md:col-12">
            <div>
              <p-button icon="pi pi-plus" (click)="addDiagnosis()" [rounded]="true" [raised]="true" severity="primary"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ patientForm.invalid }}
    <div class="flex justify-content-center mt-3 mr-3">
      <button (click)="savePatient()" [disabled]="patientForm.invalid" class="p-button-primary" icon="pi pi-check"
              label="Agregar" pButton pRipple></button>
    </div>
  </form>
</div>

<!--<app-spinner *ngIf="isLoading && diagnosisCombo.length == 0 && doctorCombo.length == 0"></app-spinner>-->
<app-spinner *ngIf="isLoading"></app-spinner>
<app-modal-error [display]="displayError" [message]="messageError"></app-modal-error>
<app-modal-success (confirm)="confirmDialog($event)" [display]="displayOk"
                   [message]="'Se a creado o actualizado el paciente con éxito'"></app-modal-success>
