<form [formGroup]="cycleForm">
  <div class="flex flex-column">
    <div class="justify-content-center align-items-center font-medium">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <p-inputNumber id="cycleNumber" autocomplete="off" formControlName="cycleNumber"
                                   [appFormControlStatus]="cycleForm.get('cycleNumber')"></p-inputNumber>
                    <label for="cycleNumber">N° Ciclo</label>
                  </span>
          <app-form-validation-messages [control]="cycleForm.get('cycleNumber')"
                                        [message]="'El Número del ciclo es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <p-inputNumber id="cycleDay" autocomplete="off" formControlName="cycleDay"
                                   [appFormControlStatus]="cycleForm.get('cycleDay')"></p-inputNumber>
                    <label for="cycleDay">N° Dia</label>
                  </span>
          <app-form-validation-messages [control]="cycleForm.get('cycleDay')"
                                        [message]="'El día de ciclo es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="flex py-4 gap-2">
    <button pButton pRipple type="button" label="Atras" class="p-button-raised p-button-secondary"
            (click)="previousCallback()"></button>
    <button [disabled]="cycleForm.invalid" pButton pRipple type="button" label="Siguiente" class="p-button-raised"
            (click)="nextCallback()"></button>
  </div>
</form>
