<form [formGroup]="cycleForm">
  <div class="flex flex-column">
    <div class="justify-content-center align-items-center font-medium">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-inputNumber [appFormControlStatus]="cycleForm.get('cycleNumber')" autocomplete="off" formControlName="cycleNumber"
                           id="cycleNumber"></p-inputNumber>
            <label for="cycleNumber">N° Ciclo</label>
          </span>
          <app-form-validation-messages [control]="cycleForm.get('cycleNumber')"
                                        [errorType]="'required'"
                                        [message]="'El Número del ciclo es obligatorio'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-inputNumber [appFormControlStatus]="cycleForm.get('cycleDay')" autocomplete="off" formControlName="cycleDay"
                           id="cycleDay"></p-inputNumber>
            <label for="cycleDay">N° Dia</label>
          </span>
          <app-form-validation-messages [control]="cycleForm.get('cycleDay')"
                                        [errorType]="'required'"
                                        [message]="'El día de ciclo es obligatorio'"></app-form-validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="flex py-4 gap-2">
    <button (click)="previousCallback()" class="p-button-raised p-button-secondary" label="Atras" pButton pRipple
            type="button"></button>
    <button (click)="nextCallback()" [disabled]="cycleForm.invalid" class="p-button-raised" label="Siguiente" pButton pRipple
            type="button"></button>
  </div>
</form>
