<form [formGroup]="doctorForm">
  <div class="flex flex-column">
    <div class="justify-content-center align-items-center font-medium">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <input id="doctorRut" type="text" pInputText autocomplete="off" appRutFormatter
                           formControlName="doctorRut" [appFormControlStatus]="doctorForm.get('doctorRut')" (blur)="onRutBlur()">
                    <label for="doctorRut">Rut</label>
                  </span>
          <app-form-validation-messages [control]="doctorForm.get('doctorRut')"
                                        [message]="'El rut del Doctor es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
          <app-form-validation-messages [control]="doctorForm.get('doctorRut')" [message]="'El rut ingresado no es valido'"
                                        [errorType]="'invalidRut'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <input id="doctorName" type="text" pInputText autocomplete="off" formControlName="doctorName"
                           [appFormControlStatus]="doctorForm.get('doctorName')">
                    <label for="doctorName">Nombre</label>
                  </span>
          <app-form-validation-messages [control]="doctorForm.get('doctorName')"
                                        [message]="'El Nombre del Doctor es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <input id="doctorLastName" type="text" pInputText autocomplete="off"
                           formControlName="doctorLastName" [appFormControlStatus]="doctorForm.get('doctorLastName')">
                    <label for="doctorLastName">Apellidos</label>
                  </span>
          <app-form-validation-messages [control]="doctorForm.get('doctorLastName')"
                                        [message]="'El apellido del doctor es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <p-inputMask id="doctorPhone" mask="+569 99999999" formControlName="doctorPhone"
                                 [appFormControlStatus]="doctorForm.get('doctorPhone')"></p-inputMask>
                    <label for="doctorPhone">Teléfono</label>
                  </span>
          <app-form-validation-messages [control]="doctorForm.get('doctorPhone')"
                                        [message]="'El teléfono del Doctor es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
                  <span class="p-float-label">
                    <input id="doctorEmail" type="text" pInputText autocomplete="off" formControlName="doctorEmail"
                           [appFormControlStatus]="doctorForm.get('doctorEmail')">
                    <label for="doctorEmail">Correo</label>
                  </span>
          <app-form-validation-messages [control]="doctorForm.get('doctorEmail')"
                                        [message]="'El Correo del Doctor es obligatorio'"
                                        [errorType]="'required'"></app-form-validation-messages>
          <app-form-validation-messages [control]="doctorForm.get('doctorEmail')"
                                        [message]="'El Correo no tiene un formato valido'"
                                        [errorType]="'email'"></app-form-validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="flex py-4 gap-2">
    <button pButton pRipple type="button" label="Atras" class="p-button-raised p-button-secondary"
            (click)="previousCallback()"></button>
    <button [disabled]="doctorForm.invalid" pButton pRipple type="button" label="Siguiente" class="p-button-raised"
            (click)="nextCallback()"></button>
  </div>
</form>
