<form [formGroup]="diagnosisForm">
  <div class="flex flex-column">
    <div class="justify-content-center align-items-center font-medium">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown [appFormControlStatus]="diagnosisForm.get('diagnosis')" [filter]="true"
                        [options]="diagnosisCombo"
                        [virtualScroll]="true"
                        [virtualScrollItemSize]="38"
                        appendTo="body" dataKey="code"
                        emptyFilterMessage="No se encontraron Diagnosticos" emptyMessage="No existen Diagnosticos en Sistema" filterBy="name" formControlName="diagnosis"
                        id="diagnosis" optionLabel="name"
                        placeholder="Seleccione Dignóstico"></p-dropdown>
            <label for="diagnosis">Diagnóstico</label>
          </span>
          <app-form-validation-messages [control]="diagnosisForm.get('diagnosis')"
                                        [errorType]="'required'"
                                        [message]="'El diagnóstico es obligatorio'"></app-form-validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="flex py-4">
    <button (click)="nextCallbackDiagnosis()" [disabled]="diagnosisForm.invalid" class="p-button-raised" label="Siguiente" pButton
            pRipple
            type="button"></button>
  </div>
</form>
