<form [formGroup]="patientForm">
  <div class="flex flex-column">
    <div class="justify-content-center align-items-center font-medium">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input (blur)="onRutBlur()" [appFormControlStatus]="patientForm.get('rut')" appRutFormatter autocomplete="off" autofocus formControlName="rut"
                   id="rut" pInputText type="text">
            <label for="rut">Rut *</label>
          </span>
          <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'required'"
                                        [message]="'El Rut es obligatorio'"></app-form-validation-messages>
          <app-form-validation-messages [control]="patientForm.get('rut')" [errorType]="'invalidRut'"
                                        [message]="'El rut ingresado no es valido'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input [appFormControlStatus]="patientForm.get('identification')" appRutFormatter autocomplete="off" autofocus formControlName="identification" id="identification"
                   pInputText type="text">
            <label for="identification">Identificación</label>
          </span>
          <app-form-validation-messages [control]="patientForm.get('identification')"
                                        [errorType]="'required'"
                                        [message]="'El Rut es obligatorio'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown [appFormControlStatus]="patientForm.get('isapre')" [filter]="true"
                        [options]="isapreCombo"
                        appendTo="body" dataKey="code"
                        emptyFilterMessage="No se encontro isapres" emptyMessage="No existen Isapres en Sistema" filterBy="name" formControlName="isapre"
                        id="isapreCombo" optionLabel="name"
                        placeholder="Seleccione Isapre"></p-dropdown>
            <label for="isapreCombo">Isapre</label>
          </span>
          <app-form-validation-messages [control]="patientForm.get('isapre')"
                                        [errorType]="'required'"
                                        [message]="'La isapre es obligatoria'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input [appFormControlStatus]="patientForm.get('name')" autocomplete="off" formControlName="name" id="name" pInputText
                   type="text">
            <label for="name">Nombre *</label>
          </span>
          <app-form-validation-messages [control]="patientForm.get('name')" [errorType]="'required'"
                                        [message]="'El Nombre es obligatorio'"></app-form-validation-messages>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input [appFormControlStatus]="patientForm.get('lastName')" autocomplete="off" formControlName="lastName" id="lastName" pInputText
                   type="text">
            <label for="lastName">Apellidos</label>
          </span>
          <app-form-validation-messages [control]="patientForm.get('lastName')"
                                        [errorType]="'required'"
                                        [message]="'Los Apellidos son obligatorio'"></app-form-validation-messages>
        </div>
      </div>
    </div>
  </div>
  <div class="flex py-4">
    <button (click)="nextCallbackPatient()" [disabled]="patientForm.invalid" class="p-button-raised" label="Siguiente" pButton
            pRipple
            type="button"></button>
  </div>
</form>
